html,
body, #root {
  height: 100vh;
}

.Container {
  align-items: center;
  background-color: oldlace;
  display: flex;
  height: 100%;
  justify-content: center;
  max-height: 100%;
  padding: 0 50px;
  text-align: center;
  max-width: 100%;
}

.Button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 1.4rem;
  height: 100%;
  outline: inherit;
  width: 40px;
}

.Canvas {
  background-color: white;
  border: 1px solid black;
}

.CanvasContainer {
  flex: 1;
}

.Control {
  border: 1px solid black;
  display: flex;
  height: 40px;
  margin: 20px;
  width: 160px;
}

.ControlContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ControlsContainer {
  flex: 1;
}

.Level {
  align-items: center;
  border-right: 1px solid black;
  border-left: 1px solid black;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 80px;
}
